{% extends "admin/layout.njk" %}


{% block content %}

  <form method="POST" action="/admin/recipes">

    <div class="actions">
      <h3>Criando receita</h3>
      <button type="submit">Salvar recita</button>
    </div>

    {% include "admin/filds.njk" %}

  </form>


{% endblock content %}