{% extends "admin/layout.njk" %}


{% block content %}

<div class="form">

  <form method="POST" action="/admin/recipes?_method=DELETE" id="delete">
    <input type="hidden" name="id" value="{{ recipe.id }}">
    <button type="submit">Deletar</button>
  </form>

  <form method="POST" action="/admin/recipes?_method=PUT">

    <div class="actions">
      <h3>Editando receita: {{ recipe.title }}</h3>  
      <button type="submit">Salvar recita</button>
    </div>

    {% include "admin/filds.njk" %}

    <input 
      type="hidden"
      name="id" 
      value="{{ recipe.id }}"
    >
  </form>

</div>


{% endblock content %}