<div class="author">
  <div>
    <p>Nome da receita</p>
    <input type="text" name="title">
  </div>

  <div>
    <p>Autor da receita</p>
    <input type="text" name="author">
  </div>
</div>

<div class="item">
  <p>Imagem da receita</p>
  <input type="text" name="image">
</div>

<div class="item">
  <p>Ingredientes</p>
  <input type="text" name="ingredients">
  <a href="">Adicionar novo ingrediente</a>
</div>

<div class="item">
  <p>Modo de preparo</p>
  <input type="text" name="preparation">
  <a href="">Adicionar novo passo</a>
</div>

<div class="item">
  <p>Informações adicionais</p>
  <textarea name="information" cols="30" rows="10"></textarea>
</div>
