<!DOCTYPE html>
<html>
  <head>
    <title>Foodfy - Admin</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  
  <body>
    <header class="admin">
      <nav>
        <a href="/admin">
          <img src="/assets/logo_white.png" alt="Foodfy logo">
        </a>
      </nav>
    </header>
 
    <main>
      {% block content %}
      {% endblock content %}
    </main>

    <script src="/script.js"></script>

  </body>
</html>