{% extends "layout.njk" %}

{% block content %}
  <div class="chef-container">
    {% for chef in chefs %}
      <div class="chefs">

      {% for chefFile in chefsFiles %}

        {% if chef.file_id == chefFile.id %}
          <img src="{{ chefFile.src }}" alt="imagem de {{ chef.name }}"> 
        {# {% else %}
          <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO" alt="Produto sem foto"> #}
        {% endif %}

      {% endfor %}

        <div>
          <p>{{ chef.name }}</p>
          <span value="">{{ chef.total }} receitas</span>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}