{% extends "layout.njk" %}

{% block content %}

  <div class="recipe-container">
  
    {% for recipeFile in recipeFiles %}
      <img src="{{ recipeFile.src }}" alt="Imagem de {{ recipe.title }}">

      <div class="images-preview">
        {% if recipeFile.recipe_id == recipe.id %}
          <div class="image">
            <img  src="{{ recipeFile.src }}" alt="Imagem de {{ recipe.title }}">
          </div>
        {% endif %}
      </div>

    {% endfor %}

    <div class="recipe-title">
      <h1>{{ recipe.title }}</h1>
      <p>por {{ recipe.chef_name }}</p>
    </div>

    <div class="paragraphs">
      <div>
        <h3>Ingredientes</h3>
        <a class="btn-hidden">ESCONDER</a>
      </div>

      <ul>
        <div class="recipe-hidden">
          {% for ingredient in recipe.ingredients %}
            <li>{{ingredient}}</li>
          {% endfor %}
        </div>
      </ul>
    </div>

    <div class="paragraphs">
      <div>
        <h3>Modo de preparo</h3>
        <a class="btn-hidden">ESCONDER</a>
      </div>

      <div class="recipe-hidden">
        {% for phrase in recipe.preparation %}
          <p>{{ phrase }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="paragraphs">
      <div>
        <h3>Informações adicionais</h3>
        <a class="btn-hidden">ESCONDER</a>
      </div>

      <div class="recipe-hidden">
        <p>{{ recipe.information }}</p>
      </div>
    </div>
  </div>

  <script>
    const paragraphs = document.querySelectorAll(".paragraphs");

    for (let paragraph of paragraphs) {
      let hidden = false
      
      paragraph.querySelector(".btn-hidden").addEventListener("click", function () {
        
        if (hidden) {
          paragraph.querySelector(".recipe-hidden").classList.remove("active");
          paragraph.querySelector(".btn-hidden").innerHTML = "ESCONDER";
          hidden = false;

        } else {
          paragraph.querySelector(".recipe-hidden").classList.add("active");
          paragraph.querySelector(".btn-hidden").innerHTML = "MOSTRAR";
          hidden = true;
        }
      });
    }
  </script>

{% endblock content %}
