{% extends "admin.njk" %}

{% block content %}

<div class="container admin profile">

  <form action="/admin/profile?_method=PUT" method="post">

    <div class="actions">
      <h2>Bem vindo {{ user.firstName }}</h2>

      <div>
        <button type="submit" class="button">Salvar</button>
      </div>
    </div>

    <div class="fields">

      <div class="item">
        <label for="name">Nome</label>

        <div class="input">
          <input
            id="name"
            type="text"
            name="name"
            placeholder="Digite o nome completo"
            value="{{ user.name }}"
          >
        </div>
      </div>

      <div class="item">
        <label for="email">Email</label>

        <div class="input">
          <input
            id="email"
            type="email"
            name="email"
            placeholder="Digite o email"
            value="{{ user.email }}"
          >
        </div>
      </div>

      <div class="item">
        <label for="password">Senha</label>

        <div class="input">
          <input
            id="password"
            type="password"
            name="password"
            placeholder="Digite a senha"
          >
        </div>
      </div>

    </div>

    <input type="hidden" name="id" value="{{ user.id }}">
    
  </form>

</div>

{% endblock content %}
