{% extends "layout.njk" %}

{% block content %}

  <div class="container recipes search">

    <h2 class="filter-text">Buscando por "{{ filter }}"</h2>
  
    <div class="recipe">
      {% include "parts/recipes.njk" %}
    </div>

  </div>

{% endblock content %}
