@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');


:root {
  --black-1: #000000;
  --black-2: #111111;
  --pink: #FBDFDB;
  --gray-1: #777777;
  --gray-2: #999999;
  --gray-3: #eeeeee;
}

/*  ==== HOME ==== */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* == MENU == */

header {
  margin: 36px 230px 30px;
}

nav {
  height: 27px;
  width: 100%;
}

nav .links {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: var(--black-2);
  margin-right: 30px;
  position: relative;
  top: -7px;
}

nav .img {
  margin-right: 122px;
  text-decoration: none;
}

/* == SECTION == */

section {
  background-color: var(--pink);
  border-radius: 30px;
  width: 940px;
  height: 366px;
  margin: 0 230px;
  position: relative;
}

section .content {
  display: inline-block;
  width: 316px;
  position: absolute;
  top: 117px;
  left: 60px;
}

.content h1 {
  font-size: 32px;
  line-height: 38px;
  color: var(--black-2);
  margin-bottom: 10px;
}

.content p {
  font-size: 18px;
  line-height: 28px;
  color: var(--black-1);
  opacity: 0.7;
}

section .img {
  display: inline-block;
  position: absolute;
  top: 66px;
  right: 100px;
}

/*  == RECIPES == */

main {
  margin: 50px 230px;
}

main h2 {
  font-size: 24px;
  line-height: 28px;
  color: var(--black-2);
  margin-bottom: 20px;
}
.recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 30px;
}

article img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
}

article p {
  font-size: 18px;
  line-height: 21px;
  color: var(--black-2);
  margin-top: 20px;
  margin-bottom: 5px;
}

article span {
  font-size: 14px;
  line-height: 16px;
  color: var(--gray-1);
}

/* == FOOTER == */

footer {
  width: 100%;
  height: 62px;
  background-color: var(--gray-3);
  text-align: center;
}

footer p {
  font-size: 14px;
  line-height: 62px;
  color: var(--gray-2);
}

/* ==== ABOUT ==== */

.about p, .start p, .recipe p {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.about h1 {
  font-size: 24px;
  color: var(--black-2);
}

.start h2, .recipe h3 {
  font-size: 20px;
  color: var(--black-2);
}

/* ==== MODAL ==== */

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  visibility: hidden;
}

.modal-overlay .modal {
  background: white;
  border-radius: 16px;
  width: 660px;
  height: 413px;
  margin: 20vh auto;
}

.modal-article {
  text-align: center;
}

.modal-article img {
  margin: 30px 30px 20px;
  border-radius: 15px;
  width: 600px;
  height: 200px;
}

.modal-article p {
  font-size: 24px;
  line-height: 26px;
  color: var(--black-2);
  margin-bottom: 5px;
}

.modal-article span {
  display: block;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 60px;
  color: var(--gray-1);
}

.modal-article a {
  font-size: 16px;
  line-height: 19px;
  color: var(--gray-2);
  cursor: pointer;
}

/* ==== MODAL ACTIVE ==== */

.modal-overlay.active{
  visibility: visible;
}