{% extends "layouts/home.njk" %}
{% import "parts/container.njk" as container %}

{% block content %}

  {% call container.render("", "") %}

    <div class="chefs">
      {% for chef in chefs %}
        <article>

          <a href="/chefs/{{ chef.id }}">
            <img src="{{ chef.img }}" alt="Imagem de {{ chef.file.original_name }}">
          </a>

          <div>
            <p>{{ chef.name }}</p>
            <span>{{ chef.total }} receitas</span>
          </div>
          
        </article>
      {% endfor %}
    </div>

    {% include "parts/pagination.njk" %}

  {% endcall %}

{% endblock content %}