{% extends "layout.njk" %}

{% block content %}

  <div class="container chefs">

    <div class="chef-container">
     {% for chef in chefs %}

      <div class="chef">

        <a href="/chefs/{{ chef.id }}">
          <img src="{{ chef.file.src }}" alt="imagem de {{ chef.name }}"> 
        </a>

        <div>
          <p>{{ chef.name }}</p>
          <span value="">{{ chef.total }} receitas</span>
        </div>
      </div>
      
     {% endfor %}
    </div>

  </div>
  
{% endblock content %}