{% extends "layout.njk" %}

{% block content %}
 
  <div class="container recipes chefs">

    <div class="chef-profile">
      <img src="{{ chefFile.src }}" alt="">
      <h1>{{ chef.name }}</h1>
      <span>{{ chef.total }} receitas</span>
    </div>

    <h2>Receitas</h2>

    <div class="recipe-container">
      {% include "parts/recipes.njk" %}
    </div>

  </div>

{% endblock content %}
