{% extends "layout.njk" %}

{% block content %}
 
  <div class="container recipes chefs">

    <div class="chef-profile">
      <img src="{{ chef.file.src }}" alt="imagem de {{ chef.name }}">
      <h1>{{ chef.name }}</h1>
      <span>{{ chef.total }} receitas</span>
    </div>

    <h2>Receitas</h2>

    <div class="recipe-container">

      {% for recipe in recipes %}
          <article>
            <a href="/recipes/{{ recipe.id }}">
              <img src="{{ recipe.files.src }}" alt="Imagem de {{ recipe.title }}">
            </a>

            <p>{{ recipe.title }}</p>

            <span>por {{ chef.name }}</span>
          </article>
      {% endfor %}

    </div>

  </div>

{% endblock content %}
