{% extends "layout.njk" %}
{% import "parts/banner.njk" as section %}

{% block content %}

  {{ section.banner("true") }}

  <div class="container">
    <h2>Adicionadas Recentemente</h2>

    <div class="recipes">
      {% for recipe in recipes %}

        <article>
          <a href="/recipes/{{recipe.id}}">
            <img src="{{ recipe.files[0].src }}" alt="{{ recipe.files[0].name }}">
          </a>

          <div>
            <p>{{ recipe.title }}</p>
            <a href="/chefs/{{ recipe.chef_id }}">
              <span>{{ recipe.chef_name }}</span>
            </a>
          </div>
        </article>
        
      {% endfor %}
    </div>
  </div>

{% endblock content %}