{% extends "layout.njk" %}

{% block content %}
  <div class="chef-profile">
    <img src="{{ chefFile.src }}" alt="">
    <h1>{{ chef.name }}</h1>
    <span>{{ chef.total }} receitas</span>
  </div>

  <h3 class="filter-text">Receitas</h3>

  <div class="recipes">
    {% include "parts/recipes.njk" %}
  </div>

{% endblock content %}
