{% extends "layouts/home.njk" %}
{% import "parts/container.njk" as container %}

{% block content %}

  {% call container.render("", "") %}

  <div class="chef-datail">
    <img src="{{chef.img}}" alt="{{ chef.files[0].name }}">
    <h1>{{ chef.name }}</h1>
    <p>{{ chef.total }}
      receitas
    </p>
  </div>

  <div class="title">
    <h2>Receitas</h2>
  </div>

  <div class="recipes">

    {% for recipe in recipes %}

      <article>
        <a href="/recipes/{{recipe.id}}">
          <img src="{{ recipe.img }}" alt="{{ recipe.files[0].name }}">
        </a>

        <div>
          <p>{{ recipe.title }}</p>
          <span>{{ recipe.chef_name }}</span>
        </div>
      </article>

    {% endfor %}

  </div>

  {% endcall %}

{% endblock content %}