{% extends "layout.njk" %}

{% block content %}

  <div class="container recipes">
  
    {% include "parts/banner.njk" %}

    <h2>Adicionadas recetemente</h2>
    
    <div class="recipe-container">
      
      {% include "parts/recipes.njk" %}

    </div>

  </div>

{% endblock content %}
