{% extends "layout.njk" %}

{% block content %}

  <div class="container show-recipe">
  
    
    <div class="gallery">

      <div class="highlight">

        {% if not recipeFiles[0] %}
          <img  src="http://placehold.it/900x900?text=RECEITA SEM IMAGEM" alt="Receita sem imagem">
        {% else %}
          <img  src="{{ recipeFiles[0].src }}" alt="Imagem de {{ recipesFile[0].name }}">
        {% endif %}

      </div>

      <div class="gallery-preview">
  
        {% for file in recipeFiles %}
            <img  
              src="{{ file.src }}" 
              alt="Imagem de {{ file.name }}"
              {% if loop.index0 == 0 %}
                class="active"
              {% endif %}
              onclick="ImageGallery.setImage(event)"
            >
        {% endfor %}
  
      </div>

    </div>

    <div class="recipe-info">
      <h1>{{ recipe.title }}</h1>
      <p>por {{ recipe.chef_name }}</p>
    </div>

    <div class="paragraphs">
      <div>
        <h3>Ingredientes</h3>
        <a class="btn-hidden">ESCONDER</a>
      </div>


        <div class="recipe-hidden">
          <ul>
            {% for ingredient in recipe.ingredients %}
              <li>{{ingredient}}</li>
            {% endfor %}
          </ul>
        </div>
    </div>

    <div class="paragraphs">
      <div>
        <h3>Modo de preparo</h3>
        <a class="btn-hidden">ESCONDER</a>
      </div>

      <div class="recipe-hidden">
        <ul>
          {% for phrase in recipe.preparation %}
            <li>{{ phrase }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="paragraphs">
      <div>
        <h3>Informações adicionais</h3>

        {% if recipe.information %}
          <a class="btn-hidden">ESCONDER</a>
        {% endif %}
      </div>

      <div class="recipe-hidden">
        <p>{{ recipe.information }}</p>
      </div>
    </div>
  </div>

  <script>
    const paragraphs = document.querySelectorAll(".paragraphs");

    for (let paragraph of paragraphs) {
      let hidden = false
      
      paragraph.querySelector(".btn-hidden").addEventListener("click", function () {
        
        if (hidden) {
          paragraph.querySelector(".recipe-hidden").classList.remove("active");
          paragraph.querySelector(".btn-hidden").innerHTML = "ESCONDER";
          hidden = false;

        } else {
          paragraph.querySelector(".recipe-hidden").classList.add("active");
          paragraph.querySelector(".btn-hidden").innerHTML = "MOSTRAR";
          hidden = true;
        }
      });
    }
  </script>

{% endblock content %}
