{% extends "layout.njk" %}


{% block head %}
  <title>Foodfy</title>
  <link rel="stylesheet" href="/style.css">
{% endblock head %}

{% block content %}
  <section>
    <div class="section-content">
      <h1>As melhores recitas</h1>
      <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro</p>
    </div>
    <div class="section-img">
      <img src="./assets/chef.png" alt="chef">
    </div>
  </section>

  <div class="recipes">

  {% for recipe in recipes %}
  
    <article>
      <img src="{{ recipe.image }}" alt="Imagem de {{ recipe.title }}">
      <p>{{ recipe.title }}</p>
      <span>{{ recipe.author }}</span>
    </article>
  
  {% endfor %}
    
  </div>

  <script src="./script.js"></script>

{% endblock content %}
