<!DOCTYPE html>
<html>
  <head>
    <title>Foodfy</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  
  <body>
    <header>
      <nav>
        <img src="/assets/logo.png" alt="Foodfy logo">
        <a href="/about">Sobre</a>
        <a href="/recipes">Receitas</a>
      </nav>
    </header>
 
    <main>
      {% block content %}
      {% endblock content %}
    </main>

    <footer>
      <div class="footer-content">
        <p>Todos direitos reservados, receitas Foodfy</p>
      </div>
    </footer>

    <script src="/script.js"></script>
    
  </body>
</html>