<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>Foodfy</title>
      <link rel="stylesheet" href="/style.css">
    {% endblock head %}
  </head>
  
  <body>
    <header>
      <nav>
          <a class="img" href="/">
            <img src="./assets/logo.png" alt="Foodfy logo">
          </a>
        <a class="links" href="/about">Sobre</a>
        <a class="links" href="/recipe">Receitas</a>
      </nav>
    </header>
 
    <main>
      {% block content %}
      {% endblock content %}
    </main>

    <footer>
      <div class="footer-content">
        <p>Todos direitos reservados, receitas Foodfy</p>
      </div>
    </footer>
  </body>
</html>