{% extends "layout.njk" %}

{% block head %}
    <title>Receitas - Foodfy</title>
    <link rel="stylesheet" href="/style.css">
{% endblock head %}

{% block content %}
  <article>
    <img src="./assets/burger.png" alt="">
    <p>Triplo bacon burger</p>
    <span>por Jorge Relato</span>
  </article>
{% endblock content %}
