{% extends "layout_admin.njk" %}

{% block content %}

  <div class="container admin profile">

    <form action="">

      <div class="actions">
        <h2>Bem vindo Luiz</h2>
        <button class="button" type="submit">Salvar recita</button>
      </div>

      <div class="fields profile">
        {% include "users/fields.njk" %}
      </div>

    </form>

  </div>

{% endblock content %}