{% extends "layout_admin.njk" %}


{% block content %}

  <div class="container">

    <form method="POST" action="/admin/recipes" enctype="multipart/form-data">

      <div class="actions">
        <h2>Criando receita</h2>
        <button class="button" type="submit">Salvar recita</button>
      </div>

      {% include "recipes/filds.njk" %}

    </form>

  </div>

{% endblock content %}