{% extends "layout_admin.njk" %}


{% block content %}

  <div class="container admin">

    <form method="POST" action="/admin/recipes?_method=DELETE" id="form-delete">
      <input type="hidden" name="id" value="{{ recipe.id }}">
    </form>

    <form method="POST" action="/admin/recipes?_method=PUT" enctype="multipart/form-data">
      
      <div class="actions">
        <h2>Editando receita: {{ recipe.title }}</h2>

        <div>
          <a onclick="submit()" class="button delete" >Deletar</a>
          <button class="button" type="submit">Salvar recita</button>
        </div>
      </div>

      <div class="fields">
        {% include "recipes/filds.njk" %}
      </div>

      <input 
        type="hidden"
        name="id" 
        value="{{ recipe.id }}"
      >

    </form>

  </div>

{% include "confirm.njk" %}


{% endblock content %}