<div class="item">
  <div>
    <p>Nome da receita</p>
  </div>

  <div>
    <input 
      type="text" 
      name="title"
      value="{{ recipe.title }}"
    >
  </div>
</div>

<div class="item">
  <div>
    <p>Imagem da receita</p>
  </div>
  
  <div class="images-input">
    <div id="images-upload">
      <input 
      id="images-input"
      type="file" 
      name="images" 
      multiple
      accept="image/*"
      onchange="ImagesUpload.handleFileInput(event)"
      >
      <i class="material-icons">add</i>
    </div>

    <div id="images-preview">
    
    </div>
  </div>
</div>

<div class="item">
  <div>
    <p>Chef</p>
  </div>

  <div>
    <select name="chef_id">
      {% for chef in chefs %}
        <option 
          {% if recipe.chef_id == chef.id %}selected{% endif %}
          value="{{ chef.id }}"
        >
          {{ chef.name }}
        </option>
      {% endfor %}
    </select>
  </div>
</div>

<div class="item">
  <div id="ingredients">
    <p>Ingredientes</p>

    {% if recipe.ingredients %}
      {% for ingredient in recipe.ingredients %}
        <div class="ingredient">
          <input type="text" name="ingredients[]" value="{{ ingredient }}">
        </div>
      {% endfor %}
    {% else %}
      <div class="ingredient">
        <input type="text" name="ingredients[]" value="{{ ingredient }}">
      </div>
    {% endif %}
  </div>

  <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
</div>

<div class="item">
  <div id="preparation">
    <p>Modo de preparo</p>

    {% if recipe.preparation %}
      {% for preparate in recipe.preparation %}
        <div class="preparation">
          <input type="text" name="preparation[]" value="{{ preparate }}">
        </div>
      {% endfor %}
    {% else %}
      <div class="preparation">
        <input type="text" name="preparation[]" value="{{ preparate }}">
      </div>
    {% endif %}
    
  </div>
  <button type="button" class="add-preparation">Adicionar novo passo</button>
</div>


<div class="item">
  <div>
    <p>Informações adicionais</p>
  </div>

  <div>
    <textarea name="information" cols="30" rows="10">{{ recipe.information }}</textarea>
  </div>
</div>

<script>
  function addIngredient() {
    const container = document.querySelector("#ingredients");
    const fieldContainer = document.querySelectorAll(".ingredient");

    addField(container, fieldContainer)
  }

  function addPreparation() {
    const container = document.querySelector("#preparation");
    const fieldContainer = document.querySelectorAll(".preparation");

    addField(container, fieldContainer)
  }

  function addField(container, fieldContainer) {
    const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true);

    if (newField.children[0].value == "") return false;

    newField.children[0].value = "";
    container.appendChild(newField);
  }

  document.querySelector(".add-preparation").addEventListener("click", addPreparation);
  document.querySelector(".add-ingredient").addEventListener("click", addIngredient);
</script>