<div class="item">
  <div>Nome da receita</div>

  <div>
    <input 
      type="text" 
      name="title"
      value="{{ recipe.title }}"
    >
  </div>
</div>

<div class="item">
  <div>Imagem da receita</div>
  
  <div class="images-input">
    <div id="images-upload">
      <input 
        id="images-input"
        type="file" 
        name="images_recipes" 
        multiple
        accept="image/*"
        onchange="ImagesUploadRecipes.handleFileInput(event)"
      >

      <i class="material-icons">
        add
      </i>
    </div>

    <div id="images-preview">
      {% if recipeFiles %}

        {% for file in recipeFiles %}
          <div class="image" id="{{ file.id }}">
            <img src="{{ file.src }}" alt="{{ file.name }}">
            <i 
              class="material-icons"
              onclick="ImagesUploadRecipes.removeOldImage(event)"
            >
             close
            </i>
          </div>
        {% endfor %}

        <input type="hidden" name="removed_images">
      {% endif %}
    </div>
  </div>
</div>

<div class="item">
  <div>Chef</div>

  <div>
    <select name="chef_id">
      {% for chef in chefs %}
        <option 
          {% if recipe.chef_id == chef.id %}selected{% endif %}
          value="{{ chef.id }}"
        >
          {{ chef.name }}
        </option>
      {% endfor %}
    </select>
  </div>
</div>

<div class="item">
  <div>Ingredientes</div>

  <div id="ingredients">
    {% if recipe.ingredients %}
      {% for ingredient in recipe.ingredients %}
        <div class="ingredient">
          <input type="text" name="ingredients[]" value="{{ ingredient }}">
        </div>
      {% endfor %}
    {% else %}
      <div class="ingredient">
        <input type="text" name="ingredients[]" value="{{ ingredient }}">
      </div>
    {% endif %}
  </div>

  <a type="button" class="add-ingredient">Adicionar novo ingrediente</a>
</div>

<div class="item">
  <div>Modo de preparo</div>

  <div id="preparation">
    {% if recipe.preparation %}
      {% for preparate in recipe.preparation %}
        <div class="preparation">
          <input type="text" name="preparation[]" value="{{ preparate }}">
        </div>
      {% endfor %}
    {% else %}
      <div class="preparation">
        <input type="text" name="preparation[]" value="{{ preparate }}">
      </div>
    {% endif %}
  </div>

  <a type="button" class="add-preparation">Adicionar novo passo</a>
</div>


<div class="item">
  <div>Informações adicionais</div>

  <div>
    <textarea name="information" cols="30" rows="10">{{ recipe.information }}</textarea>
  </div>
</div>

<script>
  function addIngredient() {
    const container = document.querySelector("#ingredients");
    const fieldContainer = document.querySelectorAll(".ingredient");

    addField(container, fieldContainer)
  }

  function addPreparation() {
    const container = document.querySelector("#preparation");
    const fieldContainer = document.querySelectorAll(".preparation");

    addField(container, fieldContainer)
  }

  function addField(container, fieldContainer) {
    const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true);

    if (newField.children[0].value == "") return false;

    newField.children[0].value = "";
    container.appendChild(newField);
  }

  document.querySelector(".add-preparation").addEventListener("click", addPreparation);
  document.querySelector(".add-ingredient").addEventListener("click", addIngredient);
</script>