{% extends "layout_admin.njk" %}

{% block content %}

  <div class="container recipes admin">

    <div class="actions">
      <h2>Gerenciar recitas</h2>
      <a class="button" href="/admin/recipes/create">Nova receita</a>
    </div>

    <div class="recipe-container admin">

      {% for recipe in recipes %}
        <article>
          <img src="{{ recipe.files[0].src }}" alt="{{ recipe.files[0].name }}">

          <div>       
            <p>{{ recipe.title }}</p>
            <span>por {{ recipe.chef_name }}</span>
            <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
          </div>
        </article>
      {% endfor %}
      
    </div>
  
  </div>


{% endblock content %}
