{% extends "layout_admin.njk" %}

{% block content %}

  <div class="actions">
    <h2>Gerenciar recitas</h2>
    <a class="button" href="/admin/recipes/create">Nova receita</a>
  </div>

  <div class="recipes admin">

    {% for recipe in recipes %}

      <article>
        {% for recipeFile in recipesFiles %}

          {% if recipeFile.recipe_id == recipe.id %}
            <img src="{{ recipeFile.src }}" alt="Imagem de {{ recipe.title }}">
          {% endif %}

        {% endfor %}
        
        <div>       
          <p>{{ recipe.title }}</p>
          <span>por {{ recipe.chef_name }}</span>
          <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
        </div>
        
      </article>

    {% endfor %}
    
  </div>


{% endblock content %}
