@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');


:root {
  --black-1: #000000;
  --black-2: #111111;
  --pink: #FBDFDB;
  --gray-1: #777777;
  --gray-2: #999999;
  --gray-3: #eeeeee;
  --font-menu:
}

/* ==== LAUYOUT ==== */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

header, footer {
  padding: 0 230px;
}

nav {
  margin-top: 30px;
  height: 32px;
  display: flex;
  align-items: center;
}

nav img {
  margin-right: 122px;
}

nav a {
  font-size: 16px;
  color: var(--black-2);
  text-decoration: none;
  margin-right: 30px;
}

main {
  margin: 50px auto;
  padding: 0 230px;
}

footer {
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:var(--gray-3);
}

footer p {
  font-size: 14px;
  color: var(--gray-2);
}

/* ==== INDEX ==== */

section {
  background: var(--pink);
  margin-bottom: 50px;
  border-radius: 30px;
  width: 940px;
  height: 366px;
  position: relative;
}

.section-content {
  width: 316px;
  position: absolute;
  top: 117px;
  left: 60px;
}

.section-content h1 {
  font-size: 32px;
  color: var(--black-2);
  margin-bottom: 10px;
}

.section-content p {
  opacity: 0.7;
  font-size: 18px;
  line-height: 28px;
  color: var(--black-1);
}

.section-img {
  position: absolute;
  top: 66px;
  right: 100px;
}

.recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 20px;
}

article {
  cursor: pointer;
}

article img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
}

article p {
  font-size: 18px;
  color: var(--black-2);
  margin-top: 20px;
  margin-bottom: 5px;
}

article span {
  font-size: 14px;
  color: var(--gray-1);
}

/* ==== ABOUT ==== */

.about h1, .about-start h2, .about-recipe h3 {
  color: var(--black-2);
  margin-bottom: 20px;
}

.about-about h1 {
  font-size: 24px;
}

.about-start h2 {
  font-size: 20px;
}
.about-recipe h3 {
  font-size: 20px;
}

.about p, .about-start p, .about-recipe p {
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  margin-bottom: 30px;
}

/* ==== RECIPE ==== */

.recipe-container img{
  width: 940px;
  height: 280px;
  border-radius: 15px;
  margin-bottom: 50px;
}

.recipe-title {
  text-align: center;
}

.recipe-title h1 {
  font-size: 36px;
  color: var(--black-2);
  margin-bottom: 4px;
}

.recipe-title h2 {
  font-size: 20px;
  color: var(--gray-1);
}

.paragraphs h3 {
  font-size: 24px;
  color: var(--black-2);
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 50px;
}

.paragraphs a {
  font-size: 12px;
  color: var(--gray-2);
  cursor: pointer;
  margin-left: 8px;
}

.paragraphs ul {
  list-style-position: inside;
}

.paragraphs li, .paragraphs p {
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  width: 940px;
}

.recipe-hidden.active {
  display: none;
}