@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');


:root {
  --black-1: #000000;
  --black-2: #111111;
  --pink: #FBDFDB;
  --gray-1: #777777;
  --gray-2: #999999;
  --gray-3: #eeeeee;
}

/* ==== LAUYOUT ==== */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

header, footer {
  padding: 0 230px;
}

nav {
  margin-top: 30px;
  height: 32px;
  display: flex;
  align-items: center;
}

nav img {
  margin-right: 122px;
}

nav a {
  font-size: 16px;
  color: var(--black-2);
  text-decoration: none;
  margin-right: 30px;
}

nav a.active {
  font-weight: bold;
}

main {
  margin: 50px auto;
  width: 940px;
  box-sizing: border-box;
}

footer {
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:var(--gray-3);
}

footer p {
  font-size: 14px;
  color: var(--gray-2);
}

/* ==== INDEX ==== */

section {
  background: var(--pink);
  margin-bottom: 50px;
  border-radius: 30px;
  width: 940px;
  height: 366px;
  position: relative;
}

.section-content {
  width: 316px;
  position: absolute;
  top: 117px;
  left: 60px;
}

.section-content h1 {
  font-size: 32px;
  color: var(--black-2);
  margin-bottom: 10px;
}

.section-content p {
  opacity: 0.7;
  font-size: 18px;
  line-height: 28px;
  color: var(--black-1);
}

.section-img {
  position: absolute;
  top: 66px;
  right: 100px;
}

.recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 20px;
}

article a {
  text-decoration: none;
}

article img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
}

article p {
  font-size: 18px;
  color: var(--black-2);
  margin-top: 20px;
  margin-bottom: 5px;
}

article span {
  font-size: 14px;
  color: var(--gray-1);
}

/* ==== ABOUT ==== */

.about h1, .about-start h2, .about-recipe h3 {
  color: var(--black-2);
  margin-bottom: 20px;
}

.about-about h1 {
  font-size: 24px;
}

.about-start h2 {
  font-size: 20px;
}
.about-recipe h3 {
  font-size: 20px;
}

.about p, .about-start p, .about-recipe p {
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  margin-bottom: 30px;
}

/* ==== RECIPE ==== */

.recipe-container img{
  width: 940px;
  height: 280px;
  border-radius: 15px;
  margin-bottom: 50px;
}

.recipe-title {
  text-align: center;
}

.recipe-title h1 {
  font-size: 36px;
  color: var(--black-2);
  margin-bottom: 4px;
}

.recipe-title p {
  font-size: 20px;
  color: var(--gray-1);
}

.paragraphs h3 {
  font-size: 24px;
  color: var(--black-2);
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 50px;
}

.paragraphs a {
  font-size: 12px;
  color: var(--gray-2);
  cursor: pointer;
  margin-left: 8px;
}

.paragraphs ul {
  list-style-position: inside;
}

.paragraphs li, .paragraphs p {
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  width: 940px;
}

.recipe-hidden.active {
  display: none;
}

/* ==== LAYOUT ADMIN ==== */

header.admin {
  background-color: #111111;
  height: 80px;
}

header.admin nav {
  margin-top: 0;
  height: 80px;
}

/* ==== ADMIN INDEX ==== */


div.recipes.admin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
}

article.admin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  cursor: initial;
}

article.admin img {
  width: 172px;
  height: 80px;
  border-radius: 8px;
}

article.admin div {
  height: 80px;
  width: 250px;
}

article.admin div p{
  margin-top: 0;
}

article.admin div a {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  text-decoration: none;
  color: #6558C3;
  font-weight: bold;
  cursor: pointer;
}

/* ==== ADMIN SHOW RECIPE ==== */

div.actions {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  margin-bottom: 24px;
}

div.actions h3 {
  margin: 0;
  font-size: 24px;
  color: var(--black-2);
}

div.actions button, div.actions a.button {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #6558C3;
  padding: 9px 20px;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  right: 0px;
  border-radius: 4px;
  margin: 0;
  outline: none;
  cursor: pointer;
}

/* ==== FORM ==== */

div.form {
  position: relative;
}

form .author, form .item {
  margin-bottom: 30px;
}

form .author {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 20px;
}

form .author div p, form .item p {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

form .author div input, form .item input, form .item textarea{
  border: 1px solid #ddd;
  border-radius: 4px;
  border-radius: 4px;
  padding: 15px 20px;
  font-size: 16px;
  width: 100%;
  color: #111;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

form .item div div + div {
  margin-top: 10px;
}

form .item button {
  font-size: 16px;
  font-weight: bold;
  color: #6558C3;
  background-color: transparent;
  margin-top: 15px;
  display: inline-block;
  outline: none;
  cursor: pointer;
}

form#delete {
  position: absolute;
}

form#delete button[type="submit"] {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #DC4747;;
  padding: 9px 20px;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top: -4px;
  left: 701px;
  border-radius: 4px;
  margin: 0;
  outline: none;
  cursor: pointer;
}