{% extends "layout_admin.njk" %}


{% block content %}

  <form method="POST" action="/admin/chefs">

    <div class="actions">
      <h2>Criando chef</h2>
      <button class="button" type="submit">Salvar chef</button>
    </div>

    {% include "chefs/filds.njk" %}

  </form>


{% endblock content %}