{% extends "layout_admin.njk" %}


{% block content %}

  <div class="container admin">

    <form method="POST" action="/admin/chefs?_method=DELETE" id="form-delete">
      <input type="hidden" name="id" value="{{ chef.id }}">
    </form>

    <form method="POST" action="/admin/chefs?_method=PUT" enctype="multipart/form-data">

      <div class="actions">
        <h2>Editando chef</h2>

        <div>
          <a onclick="submit()" class="button delete" >Deletar</a>
          <button class="button" type="submit">Salvar chef</button>
        </div>

      </div>

      <div class="fields">
        {% include "chefs/filds.njk" %}
      </div>


      <input 
        type="hidden"
        name="id" 
        value="{{ chef.id }}"
      >
    </form>

  </div>

{% include "confirm.njk" %}


{% endblock content %}