<div class="item">
  <div>
    <p>Nome</p>
  </div>

  <div>
    <input type="text" name="name" value="{{ chef.name }}">
  </div>
</div>

<div class="item">
  <div>
    <p>Avatar</p>
  </div>

  <div>
    <input type="url" name="avatar_url" value="{{ chef.avatar_url }}">
  </div>
</div>
