<div class="item">
  <div>
    <p>Nome</p>
  </div>

  <div>
    <input type="text" name="name" value="{{ chef.name }}">
  </div>
</div>

<div class="item">
  <div>
    <p>Avatar</p>
  </div>

  <div class="images-input">
    <div id="images-upload">
      <input 
        type="file" 
        name="images_chefs" 
        id="images-input"
        multiple
        accept="image/*"
        onchange="ImagesUploadChefs.handleFileInput(event)"
      >
      <i class="material-icons">add</i>
    </div>

    <div id="images-preview">

      {% if chefFile %}
        <div class="image" id="{{ chefFile.id }}">
          <img src="{{ chefFile.src }}" alt="{{ chefFile.name }}">
          <i 
            class="material-icons"
            onclick="ImagesUploadChefs.removeOldImage(event)"
          >
            close
          </i>
        </div>
      {% endif %}

      <input type="hidden" name="removed_images">

    </div>
  </div>
</div>
