{% extends "layout_admin.njk" %}

{% block content %}

  <div class="actions">
    <h2>Gerenciar chefs</h2>
    <a class="button" href="/admin/chefs/create">Novo chef</a>
  </div>

  <div class="chef-container">

    {% for chef in chefs %}

      <div class="chefs">
        <img src="{{ chef.avatar_url }}" alt="imagem de {{ chef.name }}"> 
        
        <div>
          <p>{{ chef.name }}</p>
          <a href="chefs/{{ chef.id }}">Visualizar</a>
        </div>
      
      </div>
      
    {% endfor %}

  </div>

{% endblock content %}