{% extends "layout_admin.njk" %}

{% block content %}

  <div class="actions">
    <h3>Chef: {{ chef.name }}</h3>
    <a href="/admin/chefs/{{ chef.id }}/edit" class="button">Editar chef</a>
  </div>

  <div class="chef-container admin">
    <div class="chef-content">
      <img src="{{ chef.avatar_url }}" alt="">
      <h2>{{ chef.name }}</h2>
      <span>{{ chef.total }} receitas</span>
    </div>
  </div>

  <h3>Receitas</h3>

  <div class="recipes admin">

    {% for recipe in recipes %}

      <article class="admin">
        <img src="{{ recipe.image }}" alt="Imagem de {{ recipe.title }}">
        
        <div>       
          <p>{{ recipe.title }}</p>
          <span>por {{ chef.name }}</span>
          <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
        </div>
      </article>

    {% endfor %}
    
  </div>

{% endblock content %}
