{% extends "layout_admin.njk" %}

{% block content %}

  <div class="container chefs recipes admin">

    <div class="actions">
      <h2>Chef: {{ chef.name }}</h2>
      <a href="/admin/chefs/{{ chef.id }}/edit" class="button">Editar chef</a>
    </div>

    <div class="chef-profile">
      <img src="{{ chef.file.src }}" alt="imagem de {{ chef.name }}">
      <h1>{{ chef.name }}</h1>
      <span>{{ chef.total }} receitas</span>
    </div>

    <h2>Receitas</h2>

    <div class="recipe-container admin">

      {% for recipe in recipes %}
        <article>
          <img src="{{ recipe.files.src }}" alt="Imagem de {{ recipe.files.name }}">
      
          <div>       
            <p>{{ recipe.title }}</p>
            <span>por {{ chef.name }}</span>
            <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
          </div>
        </article>
      {% endfor %}
      
    </div>

  </div>

{% endblock content %}
