{% extends "admin.njk" %}

{% block content %}

<div class="container admin">

  <div class="actions">
    <h2>Usuários</h2>
    <a href="/admin/users/create" class="button">Novo</a>
  </div>

</div>

{% endblock content %}
