.container.about div + div {
  margin-top: 30px;
}

.container.about div strong {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 20px;
}

.container.about div p {
  display: inline-block;
  font-size: 18px;
  line-height: 28px;
  color: #444;
}

.container.about div p + p {
  margin-top: 20px;
}