.container.about div {
  margin-bottom: 30px;
}

.container.about div:last-child {
  margin-bottom: 0;
}

.container.about div :nth-child(1) {
  display: block;
  margin-bottom: 20px;
}

.container.about div h2 {
  font-size: 24px;
}

.container.about div strong {
  font-size: 20px;
}


.container.about div p {
  font-size: 18px;
  line-height: 28px;
  color: #444;
  display: inline-block;
}

.container.about div p + p {
  margin-top: 30px;
}