.banner {
  max-width: 940px;
  width: 80%;
  height: 366px;
  margin: 0 auto;
  margin-bottom: 50px;
  background: #FBDFDB;
  border-radius: 30px;
}

.banner .wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner .wrapper div {
  margin-left: 60px;
}

 .banner .wrapper div h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.banner .wrapper div p {
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.7);
}

.banner .wrapper div p a {
  color: #333;
  font-weight: bold;
}

.banner .wrapper img {
  align-self: flex-end;
  margin-right: 100px;
}