/* HOME INDEX */
.container.chefs .chef-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.container.chefs .chef-container .chef {
  display: grid;
  grid-template-columns: 64px 1fr;
}

.container.chefs .chef-container .chef img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 50%;
}

.container.chefs .chef-container .chef div {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container.chefs .chef-container .chef p {
  font-size: 18px;
  margin-bottom: 5px;
}

.container.chefs .chef-container .chef span {
  font-size: 14px;
  color: #666;
}

/* ADMIN INDEX */
.container.chefs .chef-container .chef a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #6558C3;
}


/* CHEFS - RECIPES */
.container.chefs .chef-profile {
  text-align: center;
  margin-bottom: 50px;
}

.container.chefs .chef-profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 30px;
  object-fit: cover;
  object-position: 50% 50%;
}

.container.chefs .chef-profile h1 {
  font-size: 36px;
  margin-bottom: 4px;
}

.container.chefs .chef-profile span {
  font-size: 20px;
  color: #777;
}