.container.chefs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.container.chefs .chef {
  display: flex;
  width: 210px;
  height: 64px;
  align-items: center;
}

.container.chefs .chef img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 50%;
}

.container.chefs .chef div {
  margin-left: 20px;
}

.container.chefs .chef div p {
  font-size: 18px;
  color: #111;
}

.container.chefs .chef div span {
  font-size: 14px;
  color: #666;
}
