.container.admin .actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.container.admin .actions h2 {
  font-size: 24px;
}

/* REECIPE CREATE */
.container.admin .fields .item select,
.container.admin .fields .item input, .container.admin .fields .item textarea {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  line-height: 28px;
  padding: 15px 20px;
  background: transparent;
  margin-bottom: 15px;
  font-weight: normal;
  resize: vertical;
}

.container.admin .fields .item {
  margin-bottom: 30px;
}

.container.admin .fields .item div:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.container.admin .fields .item a {
  color: #6558C3;
  font-weight: bold;
  font-size: 16px;
}

/* IMAGES INPUT */

.container.admin .images-input {
  display: flex;
}

.container.admin .images-input #images-upload {
  position: relative;
  width: 150px;
  height: 150px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.container.admin .images-input #images-upload input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 5;
}

.container.admin .images-input #images-upload i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  color: #999;
}

/* IMAGES PREVIEW */
.container.admin .images-input #images-preview {
  display: flex;
  gap: 10px;
}

.container.admin .images-input #images-preview .image {
  position: relative;
  width: 150px;
  height: 150px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-left: 10px;
}

.container.admin .images-input #images-preview .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 4px;
}
.container.admin .images-input #images-preview .image i {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DC4747;
  font-size: 28px;
  font-weight: bold;
  border-radius: 4px;
  opacity: 0;
  transition: 200ms;
}

.container.admin .images-input #images-preview .image:hover i {
  opacity: 1;
  background: rgba(255, 255, 255, 0.7);
}
