/* SEARCH FORM */
header .content form#search {
  opacity: 0;
  visibility: hidden;
  transition: 400ms;
}

header .content form#search.active {
  opacity: 1;
  visibility: initial;
}

header .content form#search input {
  max-width: 246px;
  margin-right: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 14px;
  color: #999;
}

/* RECIPE FORM */
.container.admin .fields .item {
  margin-bottom: 30px;
}

.container.admin .fields .item label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
}

.container.admin .fields .item input,
.container.admin .fields .item select,
.container.admin .fields .item textarea {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: none;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 20px;
  margin-bottom: 10px;
  resize: vertical;
}

.container.admin .fields.recipe .item input {
  margin-bottom: 15px;
}

.container.admin .fields .item a {
  font-size: 16px;
  font-weight: bold;
  color: #6558C3;
  display: inline-block;
  cursor: pointer;
}

.container.admin .fields .item #images-upload {
  position: relative;
  width: 150px;
  height: 150px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.container.admin .fields .item #images-upload input {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.container.admin .fields .item #images-upload i {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -5;
  font-size: 28px;
  font-weight: bold;
  color: #777;
}

/* FORM USER */
.container.user .fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 40px;
}

.container.user .fields .item {
  margin-bottom: 36px;
}

.container.user .fields .item:last-child {
  position: relative;
  display: flex;
  align-items: center;
}

.container.user .fields .item label {
  font-weight: bold;
}

.container.user .fields .item:last-child label {
  position: absolute;
  left: 23px;
}
.container.admin .fields .item input {
  margin-bottom: 0;
}

.container.user .fields .item:last-child input {
  width: 15px;
  height: 15px;
}

/* FORM PROFILE */
.container.profile .fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 40px;
}

.container.profile .fields .item {
  margin-bottom: 36px;
}