header {
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 940px;
  width: 100%;
  height: 62px;
}

header .content {
  margin-top: 31px;
  width: 100%;
  display: flex;
  align-items: center;
}

header .content nav {
  margin-left: 120px;
}

header .content nav a {
  font-size: 16px;
  color: #111;

  transition: 400ms;
}

header .content nav a:hover {
  font-weight: bold;
  color: #333
}

header .content nav a.active {
  font-weight: bold;
}

header .content nav a + a {
  margin-left: 30px;
}