header.admin {
  background: #111;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

header.admin .links {
  width: 100%;
  max-width: 940px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

header.admin .links a {
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #999;
  height: 17px;
}

header.admin .links a.active {
  color: #fff;
}

header.admin .links nav {
  height: 17px;
  margin-left: 50px;
}

header.admin .links nav a + a {
  margin-left: 30px;
}

header.admin .links a.logout {
  margin-left: auto;
}

/* HOME */
header .content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 26px;
  max-width: 940px;
}

header .content .links {
  display: flex;
  align-items: center;
}

header .content .links a, header .content .actions a {
  font-size: 16px;
  color: #111;
  text-decoration: none;
}

header .content .links a.active, header .content .actions a:hover {
  font-weight: bold;
}

header .content .links a img {
  margin-right: 120px;
}

header .content .links a + a {
  margin-left: 30px;
}

header .content .actions {
  display: flex;
  align-items: center;
}

header .content .actions input {
  font-size: 14px;
  color: #999;
  padding: 10px 15px;
  border: 1px solid #ddd;
  margin-right: 8px;
}

header .content .actions button.button {
  margin-right: 30px;
}

header .content .actions form {
  display: none;
}
header .content .actions form.active { 
  display: initial;
}