.header {
  margin: 0 auto;
  margin-top: 35px;
}

.container.login {
  max-width: 500px;
  margin-top: 100px;
}

.container.login h2 {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-bottom: 35px;
}

.container.login form.login .item {
  margin-bottom: 35px;
}

.container.login form.login .item div:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.container.login form.login .item div:nth-child(2) input {
  width: 100%;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px 14px;
}

.container.login form.login .item div:nth-child(2) input.error {
  border-color: #FF3131 ;
}

.container.login form.login .item :nth-child(2) input::placeholder {
  color: #999;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer a {
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: #969696;
}

.footer.forgot {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
