:root {
  --color-text: #111;
  --color-link: #6558C3;
  --color-delete: #DC4747;
  --color-cancel: #8A8A8A;
}

* {
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  color: var(--color-text);
}

a {
  text-decoration: none;
}

body {
  font-family: Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
}

img {
  object-fit: cover;
  object-position: center;
}

.button {
  min-width: 140px;
  height: 38px;
  display: inline-block;
  text-align: center;
  background: var(--color-link);
  border-radius: 4px;
  padding: 9px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.button.delete {
  background: var(--color-delete);
  margin-right: 10px;
}

.button.cancel {
  background:  var(--color-cancel);
  margin-left: 10px;
}

.container {
  max-width: 940px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.container .title h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

footer {
  margin-top: auto;
  width: 100%;
  height: 62px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: 14px;
  color: #999;
}