.container .pagination {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .pagination span,
.container .pagination a {
  font-size: 14px;
  color: #777;
}

.container .pagination span + *,
.container .pagination a + * {
  margin-left: 24px;
}

.container .pagination a.selected,
.container .pagination a:hover {
  color: #555;
  font-weight: bold;
}
