.container.recipes .recipe-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.container.recipes .recipe-container article img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
  margin-bottom: 20px;
  object-fit: cover;
  object-position: 50% 50%;
}

.container.recipes .recipe-container article p {
  font-size: 18px;
  margin-bottom: 5px;
}

.container.recipes .recipe-container article span {
  font-size: 14px;
  color: #777;
}

/* RECIPES-CHEFS ADMIN */
.container.recipes .recipe-container.admin {
  grid-template-columns: repeat(2, 1fr);
}

.container.recipes .recipe-container.admin article {
  display: flex;
}

.container.recipes .recipe-container.admin article img {
  width: 172px;
  height: 80px;
  border-radius: 8px;
  margin-right: 20px;
  object-fit: cover;
  object-position: 50% 50%;
}

.container.recipes .recipe-container.admin article a {
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 10px;
}