.container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.container .recipes {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 20px;
}

.container .recipes article {
  display: grid;
  gap: 20px 0;
}

.container .recipes article img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
}

.container .recipes article div p {
  font-size: 18px;
  margin-bottom: 5px;
}

.container .recipes article div span {
  font-size: 14px;
  color: #777;
}

/* SHOW */

.container.recipe img {
  width: 100%;
  height: 280px;
  border-radius: 15px;
  margin-bottom: 50px;
}

.container.recipe .recipe-info {
  text-align: center;
  margin-bottom: 50px;
}

.container.recipe .recipe-info h1 {
  font-size: 36px;
  margin-bottom: 4px;
}

.container.recipe .recipe-info span {
  font-size: 24px;
  color: #777;
}

.container.recipe .paragraphs + .paragraphs {
  width: 100%;
  margin-top: 40px;
}

.container.recipe .paragraphs div:nth-child(1) {
  margin-bottom: 20px;
}

.container.recipe .paragraphs div:nth-child(1) strong {
  font-size: 24px;
  margin-right: 8px;
}

.container.recipe .paragraphs div:nth-child(1) button {
  background: none;
  font-size: 12px;
  color: #999;
  text-transform: uppercase;
  cursor: pointer;
}

.container.recipe .paragraphs .hide.active {
  display: none;
}

.container.recipe .paragraphs .hide p,
.container.recipe .paragraphs .hide li {
  font-size: 18px;
  line-height: 28px;
  color: #444;
}

.container.recipe .paragraphs .hide ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: '- ';
}