:root {
  --color-1:#111;
  --color-2: #444;
  --color-3: #777;
  --color-4: #999;
  --color-5: #ddd;
  --color-6: #e3e3e3;
  --color-7: #ffffff;
  --color-8: #;
  --color-9: #;
  --color-10: #FBDFDB;
  --color-11: #eeeeee;
  --color-12: #666666;
  --title-1: bold 36px Helvetica, sans-serif;
  --title-2: bold 24px  Helvetica, sans-serif;
  --text: 16px Helvetica, sans-serif;
  --text-author: 20px Helvetica, sans-serif;
  --text-recipe: 18px/28px Helvetica, sans-serif;
  --text-placeholder: 16px Helvetica, sans-serif;
  --text-button: bold 16px Helvetica, sans-serif;
  --text-menu: 15px Helvetica, sans-serif;
  --text-menu-active: 15px Helvetica, sans-serif;
  --text-footer: 14px Helvetica, sans-serif;
  --padding: 0 16.4%;
}



main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: var(--padding);
}

.button {
  font: var(--text-button);
  color: var(--color-7);
  background-color: var(--color-8);

}

.button.delete {
  background: var(--color-9);
}

img {
  object-fit: cover;
  object-position: 50% 50%;
}

/* ======= LAYOUT ======== */

header {
  display: flex;
  align-items: flex-end;

  width: 100%;
  height: 54px;
  padding: var(--padding);
}

header a img {
  display: flex;
  align-content: flex-end;
  margin-right: 50px;
}

header nav {
  display: flex;
  flex: 1;
  align-items: center;
}

header nav a {
  text-decoration: none;
  font: var(--text-menu);
  color: var(--color-1);
}

header nav a.active {
  font-weight: bold;
}

header nav a + a {
  margin-left: 25px;
}

footer {
  background-color: var(--color-11);
  width: 100%;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: var(--color-4);
  font: var(--text-footer);
}

/* === RECIPES INDEX ===*/

#search {
  display: none;
}

#search.active {
  display: initial;
}

#search input {
 background: transparent;
 border: 1px solid var(--color-4);
 font: var(--text-footer);
 color: var(--color-4);
 margin-right: 8px;
 padding: 10px 15px;
 min-width: 246px;
 border-radius: 4px;
}

section.chef {
  background-color: var(--color-10);
  width: 100%;
  height: 366px;
  display: flex;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
}

section.chef div:nth-child(1) {
  width: 316px;
  min-height: 132px;
  align-self: center;
  margin-left: 60px;
}

section.chef div:nth-child(1) h1 {
  font: var(--title-1);
  font-size: 32px;
  color: var(--color-1);
  margin-bottom: 10px;
}

section.chef div:nth-child(1) p {
  font: var(--text-recipe);
  color: var(--color-1);
  opacity: 0.7;
}

section.chef div:nth-child(2) {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 100px;
}

.filter-text, h2 {
  font: var(--title-2);
  color: var(--color-1);
  margin-bottom: 20px;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 20px;
  margin-bottom: 50px;
}

.recipes article a {
  text-decoration: none;
}

.recipes article img {
  max-width: 300px;
  width: 100%;
  height: 140px;
  border-radius: 15px;
}

.recipes article p {
  font: var(--text-recipe);
  color: var(--color-1);
  line-height: initial;
  margin-top: 20px;
  margin-bottom: 5px;
}

.recipes article span {
  font: var(--text-footer);
  color: var(--color-3);
}

/* === RECIPES SHOW === */

.recipe-container {
  margin: 50px 0;
}

.recipe-container .recipe-title {
  margin-bottom: 30px;
  text-align: center;
}

.recipe-container .recipe-title h1 {
  font: var(--title-1);
  color: var(--color-1);
  margin-bottom: 4px;
}

.recipe-container .recipe-title p {
  font: var(--text-author);
  color: var(--color-3)
}

.recipe-container .paragraphs {
  margin-bottom: 40px
}

.recipe-container .paragraphs div:nth-child(1) h3 {
  font: var(--title-2);
  color: var(--color-1);
  margin-right: 8px;
  display: inline-block;
}

.recipe-container .paragraphs div:nth-child(1) a {
  font: var(--text-footer);
  font-size: 12px;
  color: var(--color-4);
  cursor: pointer;
}

.recipe-container .paragraphs .recipe-hidden {
  margin-top: 20px;
}

.recipe-container .paragraphs .recipe-hidden.active {
  display: none;
}


.recipe-container .paragraphs .recipe-hidden p, .recipe-container .paragraphs .recipe-hidden li {
  font: var(--text-recipe);
  color: var(--color-2);
}

.recipe-container .paragraphs ul {
  list-style-position: inside;
}

/* === CHEFS === */
.chef-container {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  gap: 30px 20px;
}

.chef-container .chefs {
  display: grid;
  align-items: center;
  grid-template-columns: 64px 1fr;
}

.chef-container .chefs img{
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.chef-container .chefs div {
  margin-left: 20px;
}

.chef-container a {
  text-decoration: none;
}

.chef-container .chefs div p {
  font: var(--text-recipe);
  line-height: initial;
  color: var(--color-1);
  width: 100%;
}

.chef-container .chefs div span {
  font: var(--text-footer);
  color: var(--color-12);
}

/* === ABOUT === */

#about-container {
  margin: 50px 0;
}

#about-container div.about h2 {
  font: var(--title-2);
  color: var(--color-1);
}

#about-container div.about h3 {
  font: var(--text-author);
  font-weight: bold;
  margin-top: 30px;
  color: var(--color-1);
}

#about-container div.about p {
  font: var(--text-recipe);
  color: var(--color-2);
  margin: 20px 0;
}

/* ======= LAUYOUT ADMIN ======= */

header.admin {
  align-items: center;
  background: var(--color-1);
  height: 80px;
}

header.admin nav a {
  color: var(--color-4);
  font-weight: bold;
}

header.admin nav a.active {
  color: var(--color-7);
}

/* === INDEX === */
 
.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 30px;
}

.actions h2 {
  font: var(--title-2);
  color: var(--color-1);
}

/* === RECIPES CREATE === */

.item {
  width: 100%;
  margin-bottom: 30px;
}

.item div p {
  font: var(--text);
  font-weight: bold;
  color: var(--color-1);
  margin-bottom: 10px;
}

.item div input, .item div select, .item div textarea {
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  font: var(--text);
  color: var(--color-1);
  padding: 15px 20px;
  margin-bottom: 15px;

}

.item div textarea {
  resize: vertical;
  line-height: 28px;
}

.item button {
  background: none;
  color: var(--color-8);
  font: var(--text);
  font-weight: bold;
  cursor: pointer;
}

/* === RECIPES INDEX === */

.recipes.admin {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}

.recipes.admin a {
  text-decoration: none;
}

.recipes.admin article {
  display: grid;
  grid-template-columns: 172px 1fr;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.recipes.admin article img {
  width: 172px;
  height: 80px;
  border-radius: 8px;
}

.recipes.admin article div {
  display: flex;
  flex-direction: column;
}

.recipes.admin article div p {
  font: var(--text-recipe);
  line-height: initial;
  color: var(--color-1);
  margin: 0;
  margin-bottom: 5px;
}

.recipes.admin article div span {
  font: var(--text-footer);
  line-height: initial;
  color: var(--color-3);
  margin-bottom: 10px;
}

.recipes.admin article div a {
  font: var(--text-footer);
  font-weight: bold;
  line-height: initial;
  color: var(--color-8);
  text-decoration: none;
}

/* === RECIPES SHOW === */
.recipe-container.admin {
  margin: 0;
}

.recipe-container.admin .recipe-title {
  text-align: center;
  margin-bottom: 30px;
}

.recipe-container.admin .recipe-title h1 {
  font: var(--title-1);
  margin-bottom: 4px;
}

.recipe-container.admin .recipe-title p {
  font: var(--text-author);
  color: var(--color-3);
}

.recipe-container.admin .paragraphs {
  margin-bottom: 40px;
}

.recipe-container.admin .paragraphs h3 {
  font: var(--title-2);
  margin-bottom: 20px;
}

.recipe-container.admin .paragraphs div p, .recipe-container.admin .paragraphs ul div li {
  font: var(--text-recipe);
  color: var(--color-2);
}

.recipe-container.admin .paragraphs ul {
  list-style-position: inside;
  list-style-type: '- ';
}

/* === RECIPES EDIT === */

.form {
  position: relative;
}

.form button.button.delete {
  position: absolute;
  z-index: 5;
  top: 50px;
  right: 145px;
}

/* === CHEFS INDEX === */

.chef-container.admin {
  margin: 30px 0;
}

.chef-container.admin .chefs div a {
  font: var(--text-footer);
  font-weight: bold;
  color: var(--color-8);
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

/* === CHEF SHOW === */

.chef-profile {
  margin: 50px auto;
  text-align:center;
  width: 100%;
  display: initial;
}

.chef-profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.chef-profile h1 {
  font: var(--title-1);
  color: var(--color-1);
  margin-bottom: 4px;
}

.chef-profile span {
  font: var(--text-author);
  color: var(--color-3)
}

/* === IMAGES UPLOAD === */

form .item #images-upload {
  position: relative;
  overflow: hidden;

  width: 150px;
  height: 150px;

  border: 1px solid var(--color-5);
  border-radius: 4px;
}

form .item #images-upload i.material-icons {
  font-size: 28px;
  font-weight: bold;

  color: var(--color-3);

  position: absolute;
  left: 0;
  top: 0;
  z-index: -5;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

form .item #images-input {
  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;

  width: 100%;
  height: 100%;

  cursor: pointer;
  opacity: 0;
}

form .item .images-input {
  display: flex;
  flex-direction: row;
}

/* IMAGES PREVIEWS */

#images-preview {
  display: flex;
  flex-direction: row;
}

#images-preview .image {
  width: 150px;
  height: 150px;

  margin-left: 10px;

  border: 1px solid var(--color-5);
  border-radius: 4px;

  position: relative;
}

#images-preview .image img {
  width: 100%;
  height: 100%;
}

#images-preview .image i.material-icons {
  position: absolute;
  top: 0;
  bottom: 0;

  color: transparent;

  font-size: 28px;
  font-weight: bold;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 400ms;
}

#images-preview .image:hover i.material-icons {
  background-color: rgba(221,221,221, 0.75);
  color: var(--color-9);
  
  cursor: pointer;
}

/* === RECIPE GALLERY === */

.gallery .highlight img {
  max-width: 940px;
  width: 100%;
  height: 280px;
  border-radius: 15px;
  margin-bottom: 8px;
}

.gallery .gallery-preview {
  display: flex;
  justify-content: flex-end;
}

.gallery .gallery-preview img {
  width: 50px;
  height: 50px;

  border-radius: 4px;
  margin-left: 10px;

  opacity: 0.5;
  transition: 200ms;
}

.gallery .gallery-preview img.active ,.gallery .gallery-preview img:hover {
  opacity: 1;
}