.container.admin .users {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 52px;
}

.container.admin .users article {
  display: grid;
  gap: 16px 0;
}

.container.admin .users article div:nth-child(1) p {
  font-size: 18px;
  margin-bottom: 4px;
}

.container.admin .users article div:nth-child(1) span {
  font-size: 14px;
}

.container.admin .users article div:nth-child(2) {
  display: flex;
  align-items: center;
}

.container.admin .users article div:nth-child(2) a {
  font-size: 14px;
  font-weight: bold;
  color: #6558C3;
  margin-right: 16px;
  cursor: pointer;
}

.container.admin .users article div:nth-child(2) a.delete {
  color: #F55A5A;
  font-size: 14px;
  font-weight: bold;
  background: none;
  cursor: pointer;
}