{% extends "layouts/admin.njk" %}

{% block content %}

  <div class="container admin">
    <form id="form-delete" action="/admin/chefs?_method=DELETE" method="post">
      <input type="hidden" name="id" value="{{ chef.id }}">
    </form>

    <form action="/admin/chefs?_method=PUT" method="post" enctype="multipart/form-data">

      <div class="actions">
        <h2>Editando Chef</h2>
        <div>
          <a onclick="submit()" class="button delete">Deletar</a>
          <button type="submit" class="button" onclick="Validate.allFields(event)">Salva chef</button>
        </div>
      </div>

      <div class="fields">
        {% include "chef/fields.njk" %}
      </div>

      <input type="hidden" name="id" value="{{ chef.id }}">
    </form>
  </div>

  {% include "parts/confirm.njk" %}

{% endblock content %}