{% extends "layouts/admin.njk" %}
{% import "parts/container-admin.njk" as container %}
{% import "parts/actions.njk" as actions %}

{% block content %}
  {% call()container.render("") %}

  <form id="form-delete" action="/admin/chefs?_method=DELETE" method="post">
    <input type="hidden" name="id" value="{{ chef.id }}">
  </form>

  <form action="/admin/chefs?_method=PUT" method="post" enctype="multipart/form-data">

    {% call()actions.render("Editando Chef:" + chef.name) %}
    <div>
      <a onclick="submit()" class="button delete">Deletar</a>
      <button type="submit" class="button" onclick="Validate.allFieldsChefs(event)">Salva chef</button>
    </div>
    {% endcall %}

    <div class="fields">
      {% include "chef/fields.njk" %}
    </div>

    <input type="hidden" name="id" value="{{ chef.id }}">
  </form>

  {% endcall %}

  {% include "parts/confirm.njk" %}

{% endblock content %}