<div class="item">
  <label>Nome</label>

  <div class="input">
    <input type="text" name="name" value="{{ chef.name }}">
  </div>
</div>

<div class="item">
  <label>Avatar</label>

  <div class="images-input">

    <div id="images-upload">
      <input id="images-input" type="file" name="images_chefs" multiple="multiple" accept="image/*" onchange="ImagesUploadChefs.handleFileInput(event)">
      <i class="material-icons">add</i>
    </div>

    <div id="images-preview">

      {% if chef %}
        <div class="image" id="{{ chef.file.id }}">
          <img src="{{ chef.file.src }}" alt="{{ chef.file.original_name }}">
          <i class="material-icons" onclick="ImagesUploadChefs.removeOldImage(event)">
            close
          </i>
        </div>

        <input type="hidden" name="removed_images">
      {% endif %}

    </div>

  </div>
</div>