{% extends "layouts/admin.njk" %}
{% import "parts/container-admin.njk" as container %}
{% import "parts/actions.njk" as actions %}

{% block content %}

  {% call container.render("") %}

    <form action="/admin/recipes" method="post" enctype="multipart/form-data">

      {% call actions.render("Criando Receita") %}
        <div>
          <button 
            type="submit" 
            class="button" 
            onclick="Validate.allFieldsRecipes(event)"
          >
            Salvar receita
          </button>
          
          <a href="/admin/recipes" class="button cancel">Cancelar</a>
        </div>
      {% endcall %}

      <div class="fields recipe">
        {% include "recipe/fields.njk" %}
      </div>

    </form>

  {% endcall %}

{% endblock content %}