{% extends "admin.njk" %}

{% block content %}

<div class="container admin">
  <form id="form-delete" action="/admin/recipes?_method=DELETE" method="post">
    <input type="hidden" name="id" value="{{ recipe.id }}">
  </form>

  <form action="/admin/recipes?_method=PUt" method="post" enctype="multipart/form-data">
    <div class="actions">
      <h2>Editando Receita</h2>
      <div>
        <a onclick="submit()" class="button delete">Deletar</a>
        <button type="submit" class="button">Salva receita</button>
      </div>
    </div>

    <div class="fields">
      {% include "recipe/fields.njk" %}
    </div>

    <input 
      type="hidden" 
      name="id"
      value="{{ recipe.id }}"
    >
  </form>

</div>

{% include "confirm.njk" %}

{% endblock content %}