{% extends "layouts/admin.njk" %}

{% block content %}

  <div class="container admin">
    <div class="actions">
      <h2>Gerenciar Receitas</h2>
      <a href="/admin/recipes/create" class="button">Nova receita</a>
    </div>

    <div class="recipes">
      {% for recipe in recipes %}

        <article>
          <img src="{{ recipe.img }}" alt="{{ recipe.files[0].name }}">

          <div>
            <p>{{ recipe.title }}</p>
            <span>{{ recipe.chef_name }}</span>
            <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
          </div>
        </article>

      {% endfor %}
    </div>
  </div>

{% endblock content %}