<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>Foodfy - Admin</title>
    <link rel="icon" href="/assets/favicon.png" type="image/png"> 
    {% include "parts/styles.njk" %}
  </head>

  <body>
    {% include "parts/header-admin.njk" %}

    {% block content %}
    {% endblock content %}

    {% include "parts/message.njk" %}

    <script src="/script.js"></script>
  </body>

</html>