<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>Foodfy</title>
    <link rel="icon" href="/assets/favicon.png" type="image/png"> 
    {% include "parts/styles.njk" %}
  </head>

  <body>
    {% include "parts/header.njk" %}

    {% block content %}
    {% endblock content %}

    <footer>
      <p>Todos os direitos reservados, receitas Foodfy</p>
    </footer>

    {% include "parts/message.njk" %}

    <script src="/script.js"></script>
  </body>

</html>