<!DOCTYPE html>
<html>

  <head>
    <title>Foodfy - Admin</title>
    {% include "styles.njk" %}
  </head>
  
  <body>

    <header class="admin">

      <div class="links">

        <img src="/assets/logo_white.png" alt="Foodfy logo">

        <nav>
          <a href="/admin/recipes">Receitas</a>
          <a href="/admin/chefs">Chefs</a>
        </nav>

        <a class="logout" href="/">sair</a>

      </div>

    </header>
 
    <main>

      {% block content %}
      {% endblock content %}
      
    </main>

    {% include "parts/message.njk" %}

    <script src="/script.js"></script>

  </body>

</html>