<!DOCTYPE html>
<html>
  <head>
    <title>Foodfy</title>
    {% include "styles.njk" %}
  </head>
  
  <body>

    {% include "parts/header.njk" %}
    
    <main>

      {% block content %}
      {% endblock content %}

    </main>
  
    {% include "parts/footer.njk" %}
    {% include "parts/message.njk" %}

    <script src="/script.js"></script>
    
  </body>
</html>