{% extends "layouts/home.njk" %}
{% import "parts/banner.njk" as banner %}

{% block content %}

  {% call banner.render("Essa página não pode encontrada...") %}
    <p>
      Não se preocupe
      <a href="/">clique aqui</a>
      e retorne para página inicial.
    </p>
  {% endcall %}

{% endblock content %}