<link rel="stylesheet" href="/styles/main.css">
<link rel="stylesheet" href="/styles/header.css">
<link rel="stylesheet" href="/styles/banner.css">
<link rel="stylesheet" href="/styles/recipe.css">
<link rel="stylesheet" href="/styles/about.css">
<link rel="stylesheet" href="/styles/message.css">