{% macro render(title) %}

  <section class="banner">
    <div class="wrapper">
      <div>
        <h1>{{ title }}</h1>
        {{ caller() }}
      </div>

      <img src="/assets/chef.png" alt="desenho de um chef">
    </div>
  </section>

{% endmacro %}
