<section class="banner">

  <div>
    <h1>As melhores recitas</h1>
    <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro</p>
  </div>
  
  <div>
    <img src="/assets/chef.png" alt="chef">
  </div>

</section>