<section class="banner">
  <div>
    <h1>As melhores Recitas</h1>
    <p>Aprenda a construir os melhores pratos com receitas criadas pro profissionais do mundo inteiro.</p>
  </div>

  <img src="/assets/chef.png" alt="desenho de um chef">
</section>