<header class="admin">
  <div class="content">
    <nav>
      <a href="/admin">
        <img src="/assets/logo_white.png" alt="Logo Foodfy">
      </a>
      <a href="/admin/recipes">Receitas</a>
      <a href="/admin/chefs">Chefs</a>
      <a href="/admin/users">Usuários</a>
    </nav>
    <form action="/admin/logout" method="post">
      <button type="submit">Sair</button>
    </form>
  </div>
</header>