{% for recipe in recipes %}

    <article>

      <a href="/recipes/{{ recipe.id }}">
        {% for file in recipesFiles%}
          {% if file.recipe_id == recipe.id %}
            <img src="{{ file.src }}" alt="Imagem de {{ file.name }}">
          {% endif %}
        {% endfor %}
      </a>

      <p>{{ recipe.title }}</p>

      <span>por {{ chef.name }}</span>
    </article>
  
{% endfor %}
