{% for recipe in recipes %}

    <article>

      <a href="/recipes/{{ recipe.id }}">
        <img src="{{ recipe.files.src }}" alt="Imagem de {{ recipe.title }}">
      </a>

      <p>{{ recipe.title }}</p>

      <span>por {{ recipe.chef_name }}</span>
    </article>
  
{% endfor %}
